<div class="main-wrapper">
  <div class="main-top">
    <div class="room-name-main">
      hogefuga
    </div>
    <div class="close-room">
      <%= link_to 'チャットを終了する', '#', class: "close-room-btn" %>
    </div>
  </div>
  <div class="main-medium">
    <div class="message">
      <div class="message-top">
        <div class="message-username">Hiroya</div>
        <div class="message-time">2024/9/6(Fri) 21:20:30</div>
      </div>
      <div class="message-bottom">
        <div class="message-text">ねむい・・・</div>
      </div>
    </div>
    <div class="message">
      <div class="message-top">
        <div class="message-username">Tom</div>
        <div class="message-time">2024/9/6(Fri) 21:21:22</div>
      </div>
      <div class="message-bottom">
        <div class="message-text">わかる</div>
      </div>
    </div>
  </div>

<%= form_with model:[@room, @message], html: {class:"input-form"}, local: true do |f| %>
  <div class="main-bottom">
    <%= f.text_field :content, class:"input-text", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit '送信', class: "submit-btn" %>
<% end %>