<div class="main-wrapper">
  <div class="main-top">
    <div class="room-name-main">
      <%= @room.name %>
    </div>
    <div class="close-room">
      <%= link_to 'チャットを終了する', '#', class: "close-room-btn" %>
    </div>
  </div>
<div class="main-medium">
  <%= render partial:'message', collection: @messages %>
</div>
<div class="main-bottom">
  <%= form_with model:[@room, @message], html:{class:"input-form"}, local: true do |f| %>
    <div class="form">
      <%= f.text_field :content, class:"input-text", placeholder: "type a message" %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: "hidden" %>
      </label>
    </div>
    <%= f.submit '送信', class:"submit-btn" %>
  <% end %>
</div>